/*
body {
  padding: 10%;
  font-size: 2rem;
}
  
p {
  text-decoration: underline;
  text-decoration: overline;
  text-decoration: line-through;
}
*/

body {
  padding: 10%;
  font-size: 2rem;
  font-family: monospace, "Courier New", Courier, monospace;
}

p {
  /*
  text-transform: capitalize;
  text-align: justify;
  */
  line-height: 1.2;
  word-spacing: 2em;
  font-weight: 500;
}
